* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.95rem
}

.page {
  margin: 0 auto;
  overflow: hidden;
}

/* 光标 */
@keyframes caret {
  50% {
    border-right-color: transparent;
  }
}

.code {
  padding: 0 10px 10px;
  font: bold 100% Consolas, Monaco, monospace;
  min-width: 15ch;
  background: #000;
  color: rgb(26, 230, 26);
  white-space: pre-line;
  word-break: break-all;
}

pre.language-bash,
pre.language-html,
pre.language-js,
pre.language-pug,
pre.language-scss,
pre.language-stylus,
pre.language-css,
pre.language-vue {
  max-height: 400px;
}

.demo {
  margin-top: 20px;
}

.el-date-table,
.el-year-table,
.el-month-table {
  display: table;
  tr, th, td {
    border: none;
  }
  tr:nth-child(2n) {
    background-color: #ffffff;
  }
}

.el-table {
  display: table;
  th, td {
    border: none;
  }  
}

.mt10 {
  margin-top: 10px  
}

.mt20 {
  margin-top: 20px  
}